.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
}

.emailSection,
.countrySection,
.zipSection,
.passwordSection,
.confirmPasswordSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    gap: 0.25rem;
    font-weight: 900;
}

input {
    margin-bottom: 0.5rem;;
}

button {
    width: 150px;
    padding: 1rem;
    font-weight: 900;
    font-size: 16px;
    margin-top: 1rem;
}

button:hover {
    background-color: green;
    color: white;
}

.error-mail.valid,
.error-country.valid,
.error-zip.valid,
.error-password.valid,
.error-confirm.valid {
    color: green;
}

.error-mail.invalid,
.error-country.invalid,
.error-zip.invalid,
.error-password.invalid,
.error-confirm.invalid {
    color: red;
}
span {
    position: absolute;
    left: 20rem;
    top: 1.4rem;
    width: 500px;
}